	* {
	    font-family: Arial, Verdana, sans-serif;
	    text-align: center;
	    margin: auto;
	}
	
	li {
	    display: inline;
	    padding: 1%;
	}
	
	#header {
	    background-color: #2b2f3a;
	    width: 100%;
	    height: 15%;
	    padding: 0.5em 0;
	}
	
	article {
	    margin-top: 20px;
	    width: 50%;
	    text-align: center;
	}
	
	h1 {
	    font-family: Helvetica, sans-serif;
	    margin: 1%;
	    text-align: center;
	    font-size: .9cm;
	}
	
	header img {
	    align-self: center;
	    margin: auto;
	    width: 20%;
	    height: 5%;
	    padding-top: 15px;
	}
	
	p {
	    display: inline;
	}
	
	.float-right {
	    float: right;
	}
	
	.background-white {
	    background: aliceblue;
	    text-align: center;
	}
	
	.background-gray {
	    background-color: darkgrey;
	    text-align: center;
	}
	
	div {
	    display: block;
	    text-align: center;
	}
	
	//From http://www.nowstartwebdesign.com/2014/09/pure-css-horizontal-drop-down-menu-bar.html
	.menu {
	    position: relative;
	    height: 44px;
	    background: #484E5E;
	    width: auto;
	}
	
	.menu ul {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    line-height: 1;
	}
	
	.menu > ul {
	    position: relative;
	    display: block;
	    background: #2b2f3a;
	    width: 100%;
	    z-index: 500;
	}
	
	.menu > ul > li {
	    display: inline-block;
	    position: relative;
	    margin: 0;
	    padding: 0;
	}
	
	.menu ul li a {
	    display: block;
	    font-family: Helvetica, sans-serif;
	    text-decoration: none;
	}
	
	.menu > ul > li > a {
	    font-size: 14px;
	    font-weight: bold;
	    padding: 15px 20px;
	    color: #fff;
	    text-transform: uppercase;
	    -webkit-transition: color 0.25s ease-out;
	    -moz-transition: color 0.25s ease-out;
	    -ms-transition: color 0.25s ease-out;
	    -o-transition: color 0.25s ease-out;
	    transition: color 0.25s ease-out;
	}